{% extends 'member/base_bootstrap_plain.html' %}

{% load bootstrap3 %}
{% load staticfiles %}
{% load member_template_tags %}

{% block title %}{% endblock %}

{% block body_block %}
    <div class="jumbotron">

        <div class="page-header">
            <h2>All Available Badges</h2>
            </br>


            {% if bronzebadges %}

                <h4>Bronze Badges <span class="badge">{{ badgecounts| getBadgeCount:"B" }}</span></h4>
                <div class="list-group">
                </br>
                <li class="list-group-item">
                    {% for badge in bronzebadges %}

                        <a href={{ badge.pageUrl }}>
                            <img src={% static badge.iconUrl %} height="150"%>
                        </a>


                    {% endfor %}
                </li>
            {% else %}
                <h4>Bronze Badges </h4>

            {% endif %}


            {% if silverbadges %}
                <h4>Silver Badges <span class="badge">{{ badgecounts| getBadgeCount:"S" }}</span></h4>
                <li class="list-group-item">
                    {% for badge in silverbadges %}
                        <a href={{ badge.pageUrl }}>
                            <img src={% static badge.iconUrl %} height="150"%>
                        </a>
                    {% endfor %}
                </li>
            {% else %}


            {% endif %}


            {% if goldbadges %}
                <h4>Gold Badges <span class="badge">{{ badgecounts| getBadgeCount:"G" }}</span></h4>
                <li class="list-group-item">
                    {% for badge in goldbadges %}
                        <a href={{ badge.pageUrl }}>
                            <img src={% static badge.iconUrl %} height="150"%>
                        </a>
                    {% endfor %}
                </li>
            {% else %}

            {% endif %}


            {% if meritbadges %}
                <h4>Individual Skill Challenge Badges <span class="badge">{{ badgecounts| getBadgeCount:"M" }}</span>
                </h4>
                <li class="list-group-item">
                    {% for badge in meritbadges %}
                        <a href={{ badge.pageUrl }}>
                            <img src={% static badge.iconUrl %} height="150"%>{{ badges.name }}
                        </a>
                    {% endfor %}
                </li>
            {% else %}


            {% endif %}

            </br>

            Check out some new skills here:
            </br>
            </br>
            <li><a href="{% url 'skillsmatrix' %}">Skills Matrix</a></li>
            <li><a href="{% url 'challengebadges' %}">Merit Badges</a></li>

            </div>
        </div>
    </div>
{% endblock %}