{% extends 'member/base_bootstrap_plain.html' %}

{% load bootstrap3 %}
{% load staticfiles %}
{% load member_template_tags %}

{% block title %}{% endblock %}

{% block body_block %}
    <div class="jumbotron">

        <div class="page-header">

            <div class="row">
                <div class="col-sm-3"><h2>My Badges</h2>
                    <h3><span class="fa fa-user-circle" aria-hidden="true"></span> {{ user.username }}</h3>
                    <h4><i>{{ playerrating }} <span style="text-shadow: 2px 2px 4px #000; color: yellow;"
                                                    class="fa fa-star"
                                                    aria-hidden="true"></span>
                        - Badge Points </i></h4>
                    </br>
                </div>
                <div class="col-sm-9">
                    <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#history">Badge
                        History
                    </button>
                    <div id="history" class="collapse">
                        <table style="width:100%">
                            <tr>
                                <th>Description</th>
                                <th>Date Awarded</th>
                                <th>Score</th>
                                <th>Comments</th>
                            </tr>

                            {% if badge_awards %}

                                {% for info in badge_awards %}
                                    <tr>
                                        <td>{{ info.badgeId.description }}</td>
                                        <td>{{ info.dateAwarded }}</td>
                                        <td>{{ info.score }}</td>
                                        <td>{{ info.comments }}</td>
                                    </tr>
                                {% endfor %}
                                </table>
                            {% endif %}</div>
                </div>
            </div>


            </br>

            <div>
                <h4>Season Statistics <span class="fa fa-line-chart" aria-hidden="true" style="font-size: 30px;"></span>
                </h4>
                {% if player_awards %}

                    <div class="list-group">
                        </br>
                        {# POTM Awards #}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-10"> <span class="badge"
                                                              style="font-size: 40px">{{ player_awards|lookup:'potm' }}</span>
                                    Player of The Match
                                    <span class="fa fa-certificate text-warning" aria-hidden="true"
                                          style="font-size: 40px; vertical-align: bottom;"></span>

                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                        </li>
                        {# Clean Sheets #}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-10"> <span class="badge"
                                                              style="font-size: 40px">{{ player_awards|lookup:'clean_sheets' }}</span>
                                    Clean Sheets
                                    <span class="fa fa-shield text-warning" aria-hidden="true"
                                          style="font-size: 40px; vertical-align: bottom;"></span>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                        </li>
                        {# Goals #}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-10"><span class="badge"
                                                             style="font-size: 40px">{{ player_awards|lookup:'goals' }}</span>
                                    Goals <span
                                            class="fa fa-futbol-o text-warning" aria-hidden="true"
                                            style="font-size: 35px; vertical-align: bottom;"></span></div>

                        </li>

                    </div>
                {% endif %}
            </div>


            {% if bronzebadges %}

                <h4>Bronze Badges <span class="badge">{{ badgecounts| getBadgeCount:"B" }}</span></h4>
                <div class="list-group">
                </br>
                <li class="list-group-item">
                    {% for badge in bronzebadges %}

                        <img src={% static badge.iconUrl %} height="150"%>
                    {% endfor %}
                </li>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="{{ badgedata | getCategoryCompletion:"bronze" }}"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width:{{ badgedata | getCategoryCompletion:"bronze" }}%">
                        {{ badgedata | getCategoryCompletion:"bronze" }}% Complete
                    </div>
                </div>
            {% else %}
                <h4>Bronze Badges <span class="badge">{{ badgecounts| getBadgeCount:"B" }}</span></h4>
                <h5><i>You don't have any bronze badges yet, grab a ball and get practicing! </i></h5>

            {% endif %}


            {% if silverbadges %}
                <h4>Silver Badges <span class="badge">{{ badgecounts| getBadgeCount:"S" }}</span></h4>

                <li class="list-group-item">
                    {% for badge in silverbadges %}

                        <img src={% static badge.iconUrl %} height="150"%>

                    {% endfor %}
                </li>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="{{ badgedata | getCategoryCompletion:"silver" }}"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width:{{ badgedata | getCategoryCompletion:"silver" }}%">
                        {{ badgedata | getCategoryCompletion:"silver" }}% Complete
                    </div>
                </div>
            {% else %}
                <h4>Silver Badges <span class="badge">{{ badgecounts| getBadgeCount:"S" }}</span></h4>
                <h5><i>You don't have any Silver badges yet, grab a ball and get practicing! </i></h5>

            {% endif %}


            {% if goldbadges %}
                <h4>Gold Badges <span class="badge">{{ badgecounts| getBadgeCount:"G" }}</span></h4>
                <li class="list-group-item">
                    {% for badge in goldbadges %}

                        <img src={% static badge.iconUrl %} height="150"%>

                    {% endfor %}
                </li>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="{{ badgedata | getCategoryCompletion:"gold" }}"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width:{{ badgedata | getCategoryCompletion:"gold" }}%">
                        {{ badgedata | getCategoryCompletion:"gold" }}% Complete
                    </div>
                </div>
            {% else %}
                <h4>Gold Badges <span class="badge">{{ badgecounts| getBadgeCount:"G" }}</span></h4>
                <h5><i>You don't have any Gold badges yet, grab a ball and get practicing! </i></h5>

            {% endif %}


            {% if meritbadges %}
                <h4>Individual Skill Challenge Badges <span class="badge">{{ badgecounts| getBadgeCount:"M" }}</span>
                </h4>
                <li class="list-group-item">
                    {% for badge in meritbadges %}

                        <img src={% static badge.iconUrl %} height="150"%>

                    {% endfor %}
                </li>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="{{ badgedata | getCategoryCompletion:"merit" }}"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width:{{ badgedata | getCategoryCompletion:"merit" }}%">
                        {{ badgedata | getCategoryCompletion:"merit" }}% Complete
                    </div>
                </div>
            {% else %}
                <h4>Individual Skill Challenge Badges <span class="badge">{{ badgecounts| getBadgeCount:"M" }}</span>
                </h4>
                <h5><i>You don't have any Merit badges yet, get practicing! </i></h5>

            {% endif %}

            </br>

            Check out some new skills here:
            </br>
            </br>
            <li><a href="{% url 'skillsmatrix' %}">Skills Matrix</a></li>

            </div>
        </div>
    </div>
{% endblock %}