{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% load member_template_tags %}

{% block title_block %}
    Index
{% endblock %}
{% block body_block %}

    <div class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">Physical Section</h2>
            <p>We aim to develop players who possess outstanding physical and athletic skills in the following areas:
            </p>
            <ul style="text-align: left">
                <li>Agility</li>
                <li>balance</li>
                <li>coordination</li>
                <li>Speed/Speed endurance</li>
                <li>Flexibility</li>
                <li>Power / Strength</li>

            </ul>

        </div>
    </div>


{% if physicalbadges %}

        <h4>Physical Badges ({{ badgecounts| getBadgeCount:"Physical" }}) </h4>
        <div class="list-group">
        </br>
        <li class="list-group-item">
            {% for badge in physicalbadges %}

                <img src={% static badge.iconUrl %} height="150"%>

            {% endfor %}
        </li>
    {% else %}
    {% endif %}

{% endblock %}