<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
{% load member_template_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="{% static "css/playerbattles.css" %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Player Battles</title>
</head>

<body>


<div class="clearfix">

    {% if loggedin_player_scores %}

        <div class="player-0-panel">
        {% for player in loggedin_player %}
            <div class="player-name" id="name-0">{{ player.full_name }} </div>

        <img class="Absolute-Center" src="{% static "images/vs.png" %}" alt="vs" height="75px">
        <img class="img-centre" src="/member/media/{{ player.picture_skill_profile }}" alt=""
             height="50%">
        {% endfor %}
        {#        Toe Taps#}
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">Toe Taps Inside<span
                    class="badge badge"> {{ loggedin_player_scores | getItem:"toe_taps_inside" }} </span></li>
            <li class="list-group-item list-group-item-info">Toe Taps Push Pull<span
                    class="badge badge"> {{ loggedin_player_scores | getItem:"toe_taps_push_pull" }} </span></li>
            <li class="list-group-item list-group-item-info">Toe Taps Side Drags<span
                    class="badge badge"> {{ loggedin_player_scores | getItem:"toe_taps_side_drags" }} </span></li>
            <li class="list-group-item list-group-item-info">Toe Taps Soles<span
                    class="badge badge"> {{ loggedin_player_scores | getItem:"toe_taps_soles" }} </span></li>
        </ul>
        {#        Kickups#}
        <ul class="list-group">
            <li class="list-group-item list-group-item-warning">Kickups - Left<span
                    class="badge badge"> {{ loggedin_player_scores | getItem:"kickups_left" }} </span></li>
            <li class="list-group-item list-group-item-warning">Kickups - Right<span
                    class="badge badge"> {{ loggedin_player_scores | getItem:"kickups_right" }} </span></li>
            <li class="list-group-item list-group-item-warning">Kickups - Both<span
                    class="badge badge"> {{ loggedin_player_scores | getItem:"kickups_both" }} </span></li>
        </ul>
        {#        Turns#}
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger">Turns - Cryuff<span
                    class="badge badge"> {{ loggedin_player_scores | getItem:"turns_cryuff" }} </span></li>
            <li class="list-group-item list-group-item-danger">Turns - Dragbacks<span
                    class="badge badge"> {{ loggedin_player_scores | getItem:"turns_dragback" }} </span></li>
            <li class="list-group-item list-group-item-danger">Turns - Hooks<span
                    class="badge badge"> {{ loggedin_player_scores | getItem:"turns_hooks" }} </span></li>
            <li class="list-group-item list-group-item-danger">Turns - Ronaldo-Chop<span
                    class="badge badge"> {{ loggedin_player_scores | getItem:"turns_ronaldo_chop" }} </span></li>
            <li class="list-group-item list-group-item-danger">Turns - Stepovers<span
                    class="badge badge"> {{ loggedin_player_scores | getItem:"turns_stepovers" }} </span></li>
            <li class="list-group-item list-group-item-danger">Turns - Zidane<span
                    class="badge badge"> {{ loggedin_player_scores | getItem:"turns_zidane" }} </span></li>
        </ul>
    {% endif %}

    </div>


    <div class="player-1-panel">
        {% for player in challenged_player %}
            <div class="player-name" id="name-0">{{ player.full_name }} </div>

        <img class="img-centre" src="/member/media/{{ player.picture_skill_profile }}" alt=""
             height="50%">
        {% endfor %}

        {#        Toe Taps#}
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">Toe Taps Inside<span
                    class="badge badge"> {{ challenger_scores | getItem:"toe_taps_inside" }} </span></li>
            <li class="list-group-item list-group-item-info">Toe Taps Push Pull<span
                    class="badge badge"> {{ challenger_scores | getItem:"toe_taps_push_pull" }} </span></li>
            <li class="list-group-item list-group-item-info">Toe Taps Side Drags<span
                    class="badge badge"> {{ challenger_scores | getItem:"toe_taps_side_drags" }} </span></li>
            <li class="list-group-item list-group-item-info">Toe Taps Soles<span
                    class="badge badge"> {{ challenger_scores | getItem:"toe_taps_soles" }} </span></li>
        </ul>
        {#        Kickups#}
        <ul class="list-group">
            <li class="list-group-item list-group-item-warning">Kickups - Left<span
                    class="badge badge"> {{ challenger_scores | getItem:"kickups_left" }} </span></li>
            <li class="list-group-item list-group-item-warning">Kickups - Right<span
                    class="badge badge"> {{ challenger_scores | getItem:"kickups_right" }} </span></li>
            <li class="list-group-item list-group-item-warning">Kickups - Both<span
                    class="badge badge"> {{ challenger_scores | getItem:"kickups_both" }} </span></li>
        </ul>
        {#        Turns#}
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger">Turns - Cryuff<span
                    class="badge badge"> {{ challenger_scores | getItem:"turns_cryuff" }} </span></li>
            <li class="list-group-item list-group-item-danger">Turns - Dragbacks<span
                    class="badge badge"> {{ challenger_scores | getItem:"turns_dragback" }} </span></li>
            <li class="list-group-item list-group-item-danger">Turns - Hooks<span
                    class="badge badge"> {{ challenger_scores | getItem:"turns_hooks" }} </span></li>
            <li class="list-group-item list-group-item-danger">Turns - Ronaldo-Chop<span
                    class="badge badge"> {{ challenger_scores | getItem:"turns_ronaldo_chop" }} </span></li>
            <li class="list-group-item list-group-item-danger">Turns - Stepovers<span
                    class="badge badge"> {{ challenger_scores | getItem:"turns_stepovers" }} </span></li>
            <li class="list-group-item list-group-item-danger">Turns - Zidane<span
                    class="badge badge"> {{ challenger_scores | getItem:"turns_zidane" }} </span></li>
        </ul>
    </div>
</div>

<script src="app.js"></script>
</body>
</html>