{% extends 'member/base_bootstrap_plain.html' %}
{% load staticfiles %}
{% load member_template_tags %}

{% block title_block %}
    Index
{% endblock %}
{% block body_block %}

    <div class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">Psychological</h2>
            <p>We aim to develop players with the psychological skills and strategies to shape a
                positive team culture and mentality.
                We aim to develop reflective, resourceful and resilient players who display outstanding:
            </p>
            <div class="col-md-6">
                <ul style="text-align: left">
                    <li>Confidence</li>
                    <li>Creativity</li>
                    <li>Concentration</li>
                </ul>
            </div>

            <div class="col-md-6">
                <ul style="text-align: left">
                    <li>Communication</li>
                    <li>Control</li>
                    <li>Commitment</li>
                </ul>

            </div>
        </div>
    </div>

    {% if psychologicalbadges %}

        <h4>Psychological Badges <span class="badge">{{ badgecounts| getBadgeCount:"PSYCHOLOGICAL" }}</span></h4>

        </br>
        <li class="list-group-item">
            {% for badge in psychologicalbadges %}

                <a href={{ badge.pageUrl }}>
                    <img src={% static badge.iconUrl %} height="150"%>
                </a>
            {% endfor %}
        </li>
    {% else %}
    {% endif %}

{% endblock %}