{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% load member_template_tags %}

{% block title_block %}
    Index
{% endblock %}
{% block body_block %}

    <div class="jumbotron text-center">

        <div class="container">
            <h2 class="jumbotron-heading">Social Section</h2>
            <p>We aim to develop players who display outstanding social skills across the following areas:
            </p>
            <div class="col-md-6">
                <ul style="text-align: left">
                    <li>Relationships</li>
                    <li>Accountability / Responsibility</li>
                    <li>Independence</li>
                </ul>
            </div>

            <div class="col-md-6">
                <ul style="text-align: left">
                    <li>Behaviour</li>
                    <li>Reflection</li>
                    <li>Teamwork</li>
                </ul>
            </div>

        </div>
    </div>


    {% if socialbadges %}

        <h4>Social Badges <span class="badge">{{ badgecounts| getBadgeCount:"Social" }}</span> </h4>
        </br>
        <li class="list-group-item">
            {% for badge in socialbadges %}

                <a href={{ badge.pageUrl }}>
                    <img src={% static badge.iconUrl %} height="150"%>
                </a>
            {% endfor %}
        </li>
    {% else %}
    {% endif %}

{% endblock %}