{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% load member_template_tags %}

{% block title_block %}
    Index
{% endblock %}
{% block body_block %}

    <div class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">Technical Section</h2>
            <p>We aim to develop technically excellent players with the skills and attributes to excel in junior
                football. Players will have the ability to create, score and prevent goals through excellence in:
            </p>
            <div class="col-md-6">
                <ul style="text-align: left">
                    <li>Receiving skills</li>
                    <li>Turning skills</li>
                    <li>Travelling with the ball</li>
                </ul>
            </div>

            <div class="col-md-6">
                <ul style="text-align: left">
                    <li>Passing over varying distances</li>
                    <li>Attacking and defending skills Finishing skills</li>
                    <li>Aerial ability</li>
                </ul>

            </div>
        </div>
    </div>

    {% if technicalbadges %}

        <h4>Technical Badges <span class="badge">{{ badgecounts| getBadgeCount:"TECHNICAL" }}</span> </h4>
        <div class="list-group">
        </br>
        <li class="list-group-item">
            {% for badge in technicalbadges %}
                <a href={{ badge.pageUrl }}>
                    <img src={% static badge.iconUrl %} height="150"%>
                </a>
            {% endfor %}
        </li>
    {% else %}
    {% endif %}

</br>

Check out some new skills here:
</br>
</br>
<li><a href="{% url 'skillsmatrix' %}">Skills Matrix</a></li>
<li><a href="{% url 'challengebadges' %}">Challenge Badges</a></li>

</div>

{% endblock %}