{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title_block %}
    Register
{% endblock %}

{% block body_block %}

    <div class="jumbotron">
        <h4 class="display-5">Player Registration</h4>

        <div class="container">
            <img src="{% static "images/woodkirk-trans.png" %}" alt="WVFC" width="100px"/>
            As a player you need to register with Woodkirk Valley FC which this gives you and your manager the ability to track your
            progress.

            You can see your Progress in 'My Badges' and when you completed a badge your manager will apply it to your profile.
            </br>
            </br>
            As a club 'Child Welfare' is a massive priority so to safeguard your children's data we will only ask for
            the minimal amount of personal data to keep the website working.
            </br>
            </br>
            When registering please keep your username a password safe.
        </div>
    </div>

    <form role="form" method="post" action=".">
        {% csrf_token %}
        {% bootstrap_form form %}
        </br>

        <button class="btn btn-primary" type="submit" name="submit">Submit</button>

    </form>

{% endblock %}