{% extends 'member/base_bootstrap.html' %}
{% load staticfiles %}
{% load static %}
{#{% get_media_prefix as MEDIA_PREFIX %}#}
{% block title_block %}
    Individual Skills
{% endblock %}
{% block body_block %}

    <div class="jumbotron text-center">
        <div class="container">
            <li class="list-group-item">
                <h4>
                    {% for badge in badges %} </br>
                        <img src={% static badge.iconUrl %} height="75"> {{ badge.description }}
                    {% endfor %}

                </h4>
            </li>
            </br>

            {% for instruction in coachinstructions %}

                {% if instruction.tipType == 'I' %}
                    <li class="list-group-item bg-success">

                        <span class="fa fa-check"></span> {{ instruction.description }}


                    </li>
                {% else %}

                {% endif %}


            {% endfor %}

            <div class="col-md-6">

            </div>

            <div class="col-md-6">


            </div>

        </div>
    </div>

    <div class="jumbotron">


        <ul class="list-group" id="tips">
            <li class="list-group-item bg-warning"><h4><span class="glyphicon glyphicon-info-sign"></span> Coaches Tips
            </h4>
            </li>
            {% if coachinstructions %}
                <ol>

                    {% for instruction in coachinstructions %}

                        {% if instruction.tipType == 'T' %}
                            <li class="list-group-item">
                                <button type="button" class="btn btn-success btn-default">
                                    <span class="fa fa-check"></span>
                                </button>
                                {{ instruction.description }}
                                {% elif instruction.tipType == 'W' %}
                            <li class="list-group-item">
                            <button type="button" class="btn btn-danger btn-default">
                                <span class="fa fa-times"></span>
                            </button>
                            {{ instruction.description }}
                        {% endif %}
                    {% endfor %}
                </ol>
            {% endif %}

        </ul>


        </ul>

        {% if badges %}
            <ul class="list-group">
            {% for badge in badges %}
                <ul class="list-group">
                    <li class="list-group-item"><img src={% static badge.iconUrl %} height="150"%></li>
                    <li class="list-group-item bg-warning"><h4><i>{{ badge.description }}</i></h4>
                    </li>
                    <li class="list-group-item"><strong>{{ badge.category }} </strong> Category (4 Corner Model)</li>
                </ul>
                <li class="list-group-item bg-warning"><strong>Support Links</strong></li>
                {% for video in badgevideos %}
                    {% if video.badgeId_id == badge.id %}
                        <ol>
                            {% if video.mediaType == 'PDF' %}
                                <li class="list-group-item">
                                    <button type="button" class="btn btn-primary btn-sm">
                                        <span class="fa fa-file-pdf-o"></span>
                                    </button>
{#                                    Used the get_static prefix to get the media files     #}
                                    <a target="_blank"
                                       href="{% get_static_prefix %}{{video.pageUrl }}">
                                                   {{ video.description  }} </a>

                                        {% elif video.mediaType == 'VIDEO' %}
                                <li class="list-group-item">
                                    <button type="button" class="btn btn-primary btn-sm">
                                        <span class="fa fa-youtube"></span>
                                    </button>
                                    <a target="_blank" href={{ video.pageUrl }}>{{ video.description }}</li>
                                </a>

                            {% elif video.mediaType == 'HREF' %}
                                <li class="list-group-item">
                                    <button type="button" class="btn btn-primary btn-sm">
                                        <span class="fa fa-internet-explorer"></span>
                                    </button>
                                    <a target="_blank" href={{ video.pageUrl }}>{{ video.description }}</li>
                                </a>
                            {% endif %}


                        </ol>
                    {% endif %}
                {% endfor %}
                </br>

                {% if badgesassessments %}
                    <ol class="list-group-item bg-warning"><strong>Assessment Criteria</strong></ol>
                {% endif %}
                {% for assesment in badgesassessments %}

                    {% if assesment.badgeId_id == badge.id %}
                        <ol>

                            <li class="list-group-item">
                                <button type="button" class="btn btn-success btn-sm">
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>

                                {{ assesment.description }}</li>

                        </ol>
                    {% endif %}
                {% endfor %}
                </br>
                </br>

            {% endfor %}

        {% endif %}


        </ul>
    </div>

{% endblock %}